<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-x-socialsharing-chinese"
        version="1.0.1">

  <name>SocialSharing For Chinese</name>

  <description>
    Share text, images (and other files), or a link via the native sharing widget of your device.
    Android is fully supported, as well as iOS 6 and up. WP8 has somewhat limited support.
    Add share via wechat and qq.
  </description>

  <author>Eddy Verbruggen, yunshansimon</author>

  <license>MIT</license>

  <keywords>Social, Share, Twitter, Facebook, Email, SMS, WhatsApp, Tumblr, Pocket, LinkedIn, Wechat, QQ, weixin, WeiBo</keywords>

  <repo>https://github.com/yunshansimon/SocialSharing-PhoneGap-Plugin.git</repo>

  <issue>https://github.com/yunshansimon/SocialSharing-PhoneGap-Plugin/issues</issue>

  <preference name="WECHATAPPID" default="wxba84c1a4c6c8fee0"/>
  <preference name="QQAPPID" default="1105039864"/>
  <preference name="WEIBOAPPID" default="4282630408"/>
  <preference name="WEIBORedirectURI" default="https://api.weibo.com/oauth2/default.html"/>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/SocialSharing.js" name="SocialSharing">
    <clobbers target="window.plugins.socialsharing" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing"/>
        <param name="onload" value="true" />
      </feature>
      <preference name="WECHATAPPID" value="$WECHATAPPID"/>
      <preference name="QQAPPID" value="$QQAPPID"/>
      <preference name="WEIBOAPPID" value="$WEIBOAPPID"/>
      <preference name="WEIBORedirectURI" value="$WEIBORedirectURI"/>
    </config-file>

    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>weixin</string>
        <string>wechat</string>
        <string>mqq</string>
        <string>mqqopensdkapiV2</string>
        <string>mqqapi</string>
        <string>weibosdk</string>
        <string>weibosdk2.5</string>
        <string>sinaweibo</string>
        <string>sinaweibohd</string>
      </array>
    </config-file>

    <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
      <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
      </dict>
    </config-file>


    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleURLName</key>
          <string>weixin</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$WECHATAPPID</string>
          </array>
        </dict>
        <dict>
          <key>CFBundleURLName</key>
          <string>tencent</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>tencent$WECHATAPPID</string>
          </array>
        </dict>
        <dict>
          <key>CFBundleURLName</key>
          <string>com.weibo</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>wb$WEIBOAPPID</string>
          </array>
        </dict>
      </array>
    </config-file>

    <header-file src="src/ios/SocialSharing.h"/>
    <source-file src="src/ios/SocialSharing.m"/>

    <!--Wechat files -->
    <header-file src="src/ios/wechat/WXApi.h" />
    <header-file src="src/ios/wechat/WXApiObject.h" />
    <source-file src="src/ios/wechat/libWeChatSDK.a" framework="true" />
    <header-file src="src/ios/wechat/WechatAuthSDK.h" />
    <header-file src="src/ios/wechat/WXApiManager.h"/>
    <source-file src="src/ios/wechat/WXApiManager.m"/>
    <header-file src="src/ios/wechat/WXApiRequestHandler.h"/>
    <source-file src="src/ios/wechat/WXApiRequestHandler.m"/>
    <header-file src="src/ios/wechat/WXApiResponseHandler.h"/>
    <source-file src="src/ios/wechat/WXApiResponseHandler.m"/>
    <header-file src="src/ios/wechat/WXMediaMessage+messageConstruct.h"/>
    <source-file src="src/ios/wechat/WXMediaMessage+messageConstruct.m"/>
    <header-file src="src/ios/wechat/GetMessageFromWXResp+responseWithTextOrMediaMessage.h"/>
    <source-file src="src/ios/wechat/GetMessageFromWXResp+responseWithTextOrMediaMessage.m"/>
    <header-file src="src/ios/wechat/SendMessageToWXReq+requestWithTextOrMediaMessage.h"/>
    <source-file src="src/ios/wechat/SendMessageToWXReq+requestWithTextOrMediaMessage.m"/>

    <!-- QQ files-->
    <source-file src="src/ios/qq/TencentOpenAPI.framework" framework="true" />
    <source-file src="src/ios/qq/TencentOpenApi_IOS_Bundle.bundle" framework="true"/>

    <!-- WEIBO files-->
    <header-file src="src/ios/libWeiboSDK/WBHttpRequest+WeiboGame.h"/>
    <header-file src="src/ios/libWeiboSDK/WBHttpRequest+WeiboShare.h"/>
    <header-file src="src/ios/libWeiboSDK/WBHttpRequest+WeiboToken.h"/>
    <header-file src="src/ios/libWeiboSDK/WBHttpRequest+WeiboUser.h"/>
    <header-file src="src/ios/libWeiboSDK/WBHttpRequest.h"/>
    <header-file src="src/ios/libWeiboSDK/WBSDKBasicButton.h"/>
    <header-file src="src/ios/libWeiboSDK/WBSDKCommentButton.h"/>
    <header-file src="src/ios/libWeiboSDK/WBSDKRelationshipButton.h"/>
    <header-file src="src/ios/libWeiboSDK/WeiboSDK+Statistics.h"/>
    <header-file src="src/ios/libWeiboSDK/WeiboSDK.h"/>
    <header-file src="src/ios/libWeiboSDK/WeiboUser.h"/>
    <source-file src="src/ios/libWeiboSDK/libWeiboSDK.a" framework="true"/>
    <source-file src="src/ios/libWeiboSDK/WeiboSDK.bundle" framework="true"/>
    <framework src="QuartzCore.framework"/>
    <framework src="ImageIO.framework"/>
    <framework src="CoreText.framework"/>
    <framework src="UIKit.framework"/>
    <framework src="Foundation.framework"/>
    <framework src="CoreGraphics.framework"/>

    <framework src="Social.framework" weak="true" />
    <framework src="MessageUI.framework" weak="true" />
    <framework src="libz.dylib" />
    <framework src="libsqlite3.0.dylib" />
    <framework src="CoreTelephony.framework" />
    <framework src="SystemConfiguration.framework" />
    <framework src="Security.framework" />
    <framework src="libstdc++.6.dylib" />
    <framework src="libiconv.dylib" />

  </platform>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
      </feature>
      <preference name="WECHATAPPID" value="$WECHATAPPID"/>
      <preference name="QQAPPID" value="$QQAPPID"/>
      <preference name="WEIBOAPPID" value="$WEIBOAPPID"/>
      <preference name="WEIBORedirectURI" value="$WEIBORedirectURI"/>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="tencent$QQAPPID" />
        </intent-filter>
      </activity>
      <activity android:configChanges="orientation|keyboardHidden" android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="behind" android:theme="@android:style/Theme.Translucent.NoTitleBar">
      </activity>
      <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustResize" android:exported="false" >
      </activity>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity[@android:name='MainActivity']">
      <intent-filter>
        <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </config-file>

    <source-file src="src/android/nl/xservices/plugins/SocialSharing.java" target-dir="src/nl/xservices/plugins"/>
    <source-file src="src/android/nl/xservices/plugins/TencentMMReceiver.java" target-dir="src/nl/xservices/plugins"/>
    <source-file src="src/android/tencent/libammsdk.jar" target-dir="src/tencent"/>
    <source-file src="src/android/tencent/open_sdk_r5509_lite.jar" target-dir="src/tencent"/>
    <source-file src="src/android/weibo/weibosdkcore_release.jar" target-dir="src/weibo"/>
    <source-file src="src/android/weibo/arm64-v8a/libweibosdkcore.so" target-dir="libs/arm64-v8a"/>
    <source-file src="src/android/weibo/armeabi/libweibosdkcore.so" target-dir="libs/armeabi"/>
    <source-file src="src/android/weibo/armeabi-v7a/libweibosdkcore.so" target-dir="libs/armeabi-v7a"/>
    <source-file src="src/android/weibo/mips/libweibosdkcore.so" target-dir="libs/mips"/>
    <source-file src="src/android/weibo/mips64/libweibosdkcore.so" target-dir="libs/mips64"/>
    <source-file src="src/android/weibo/x86/libweibosdkcore.so" target-dir="libs/x86"/>
    <source-file src="src/android/weibo/x86_64/libweibosdkcore.so" target-dir="libs/x86_64"/>

  </platform>

  <!-- wp8 -->
  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="SocialSharing">
        <param name="wp-package" value="SocialSharing"/>
      </feature>
    </config-file>

    <source-file src="src/wp8/SocialSharing.cs" />
    <source-file src="src/wp8/SocialSharingSDK/Newtonsoft.Json.dll" />
  </platform>
  
  <!-- windows -->
  <platform name="windows">
    <js-module src="src/windows/SocialSharingProxy.js" name="SocialSharingProxy">
      <merges target="" />
    </js-module>
    <source-file src="" />
  </platform>

</plugin>
